<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kr.spectrify.baby-rang</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>babyrang</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6008464533427245~7115583932</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaotalk</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주변 수유실을 찾기 위해 위치 정보가 필요합니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>관심에 맞는 광고를 보여드리기 위해 사용됩니다. 허용하지 않아도 앱의 모든 기능을 그대로 이용할 수 있습니다.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
</dict>
</plist>
